.vscode/**
.vscode-test/**
**/.vscode-test.*
.git/**
.github/**
.gitignore
src/**
out/test/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
.yarnrc

images/diagnostics.gif
flake.*
.prettierignore
*.vsix
