.vscode/**
.vscode-test/**
.git/**
.github/**
.gitignore
src/**
out/test/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

images/diagnostics.gif
vsc-extension-quickstart.md
flake.*
.prettierignore